.expenses-form {
 
  max-width: 600px;
  margin: auto;
  background-color: lightblue;
  padding-top: 0%;
  text-align: center;
}

.expenses-form h2 {
  max-width: 1000px;
  font-size: 35px;
  text-align:center;
}

.expenses-form label {
  font-weight: 500;
}

.form-data {
  position: relative;
  width: 70%;
  text-align: center;
  margin: auto;
  
}

.form-data input {
  text-align: center;
}