@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@import "./top-bar.scss";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  background-color: var(--light-gray);
}
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span {
  font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, sans-serif;
}

h1,
h2 {
  font-weight: 600;
  font-size: 3.5rem;
}
